.button {
  border: 1px solid;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  transition: all 0.3s ease;
}

.conteined {
  height: 56px;
  padding: 16px 32px;
  border-color: var(--background-brand);
  border-radius: var(--btn-radius);
  background-color: var(--background-brand);
  color: var(--text-invert);

  &:hover {
    border-color: var(--background-hover-primary);
    background-color: var(--background-hover-primary);
  }

  &:focus{
    outline:var(--background-brand-extralight);
  }


  &:disabled{
    border-color: var(--background-brand-extralight);
    background-color: var(--background-brand-extralight);
    cursor: default;
  }
}

