:root {
  background-color: #242424;
  color: rgb(255 255 255 / 87%);
  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizelegibility;

  --text-invert:#fff;
  --background-brand: #2076F6;
  --background-brand-extralight: #CEE0FF;
  --background-hover-primary: #0852C6;
  --btn-radius: 32px;
}

a {
  color: #646cff;
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  place-items: center;
}


@media (prefers-color-scheme: light) {

  :root {
    background-color: #fff;
    color: #213547;
  }
}



